* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans');

html, body {
  height: 100%;
  font-family: 'Work Sans', Helvetica, sans-serif;
}

.imgBanner {
  background-image: url('./images/HomeFantasyFootball.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0C2C56;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
    /* display: table;
    position: relative; */
}

.outerDiv {
  height: 100vh;
  width: 100%;
}

.rowContainer, .aboutMeAnimation h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.aboutMeAnimation h1 {
  text-align: center;
}

.rowContainer .row {
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  /* background-color: green; */
}

.bannerCol {
}

.bannerCol h1 {
  font-weight: 200;
  font-size: 8vh;
}

.bannerCol h2 {
  color: #C4CED4;
  font-weight: 100;
  font-size: 3vh;
  margin-top: 10%;
}

.recentProjects {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.recentProjects img {
  width: 90%;
  -webkit-filter: drop-shadow(5px 5px 20px #222);
  filter: drop-shadow(5px 5px 20px #222);
}

.recentProjects h2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.details {
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.contact {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  justify-content: center;
}

.contact i{
  color: #0C2C56;
}

.contact i:hover {
  color: #C4CED4;
}

.footer {
  background-color: #C4CED4;
  height: 5vh;
  margin-top: 4%;
  font-size: 20px;
  text-align: center;
  line-height: 5vh;
  width: 100%;
}

.outerContainer {
  /* background-color: red; */
  padding: 0;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 6.3vh;
}

.projectDetails {
  /* background-color: lightgray; */
  padding-left: 7%;
  padding-right: 7%;
}

.projectDetails ul {
  width: 70%;
  margin: auto;
}

.projectDetails h2 {
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 2%;
}

.projectDetails p {
  text-align: justify;
  text-justify: inter-word;
}

.projectDetails h2, .projectDetails h3, .projectDetails h4, .projectDetails h5 {
  text-align: center;
}

.projectDetails p, .projectDetails li {
  font-size: 20px;
}

.projectDetails h3 {
  margin-top: 5%;
}

.projectDetails h4 {
  font-size: 22px;
  overflow: auto;
}

.projectDetails h5 {
  font-size: 20px;
}

.projectDetails img {
  width: 50%;
  transition-timing-function: ease-out;
  -moz-transition: width 1.5s;
  -webkit-transition: width 1.5s;
  transition: width 1.5s;
  margin: auto;
  display: block;
}

.projectDetails img:hover {
  width: 100%;
}

.projectDetails a {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.compAnalyzed {
  margin-bottom: 5%;
}

.compAnalyzed h5 {
  margin-top: 5%;
}

.btnHiFiRow {
  width: 50%;
  margin: auto;
}




.bannerAppear-appear {
  opacity: 0.01;
  transform: translateY(50vh);
}

.bannerAppear-appear.bannerAppear-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-out;
}

.test-enter {
  opacity: 0.01;
}

.test-enter.test-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.test-leave {
  opacity: 1;
}

.test-leave.test-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.test-appear {
  opacity: 0.01;
}

.test-appear.test-appear-active {
  opacity: 1;
  transition: all 1s ease-out;
}

.fadeInOne h1, .fadeInTwo h1 {
  text-align: center;
}

.fadeInOne h1, .fadeInTwo h1, .fadeInThree h1 {
  animation: fadeInOut 4s;
  -moz-animation: fadeInOut 4s; /* Firefox */
  -webkit-animation: fadeInOut 4s; /* Safari and Chrome */
  -o-animation: fadeInOut 4s; /* Opera */
  opacity: 0;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
}

.fadeInTwo h1 {
  animation-delay: 4s;
}

.fadeInThree h1 {
  animation-delay: 8s;
}

.fadeInFour h1 {
  animation-delay: 16s;
  /* animation: fadeIn 21s;
  -moz-animation: 21s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 21s ease 0s normal forwards 1 fadeIn;
  animation: 21s ease 0s normal forwards 1 fadeIn; */
}









/* header */

.header {
  background-color: #0C2C56;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  opacity: 0.95;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #C4CED4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px 20px 15px 15px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

}

@keyframes fadeInOut {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes fadeIn {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 990px) {
  .textbookFriendsImage {
    margin-bottom: 8%;
  }
  .recentProjects .btn {
    margin-bottom: 10%;
  }
  .contact{
    width: 100%;
  }

}


